body {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(92, 99, 231, 0.862));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headertext {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20 px;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.textisolate {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.containertint {
    margin: 20px;
}

.header-box {
    font-family: 'Inclusive Sans', sans-serif;
    width: 150px;
    height: 2.5vh;
    border: 8px solid lightblue;
    background: lightblue;
    margin-bottom: 20px;
    position: absolute;
    margin-right: 0em%;
    right: 10px;
    top: 10px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

figure {
    position: absolute;
}

.box1 {
    object-fit: cover;
    height: 100px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #141414;
}

ul.flex-container {
    font-family: 'Inclusive Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: lightblue;
    line-height: 60px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    /* This is the parent element where you will set display:flex  */
}

img {
    position: relative;
    max-width: 40%;
    max-height: 40%;
}

body {
    font-family: 'Inclusive Sans', sans-serif;
    height: 100%;
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    font-family: 'Inclusive Sans', sans-serif;
    padding: 10px;
    border: none;
    color: #141414;
}

main,
footer {
    padding: 20px;
    color: #141414;
}

header,
footer {
    height: 10vh
}

main {
    height: 40vh;
}